/**
 * Copyright 2016-2022 the authors (see README.md).
 *
 * This file is part of cloogle-web.
 *
 * Cloogle-web is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, version 3 of the License.
 *
 * Cloogle-web is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
 * for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with cloogle-web. If not, see <https://www.gnu.org/licenses/>.
 */

@font-face {
	/* For the language report on /doc */
	font-family: 'courier';
	src:
		url('fonts/courier.woff2') format('woff2'),
		url('fonts/courier.woff') format('woff'),
		url('fonts/courier.otf') format('opentype');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
}

body {
	color: #222;
	font-family: sans-serif;
	margin: 0 0 1em;
}

body.framelike {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

body.framelike #logo {
	max-width: 100%;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

table {
	border-spacing: 0;
}

td, th {
	padding-right: 1em;
}

a.hidden {
	text-decoration: none;
}

a.more-info {
	background: #87aade;
	border-radius: 50%;
	color: #fff;
	display: none;
	font-family: serif;
	font-size: 85%;
	font-weight: bold;
	height: 16px;
	margin-right: -20px;
	padding: 0 !important;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	vertical-align: bottom;
	width: 16px;
}

*:hover > a.more-info {
	display: inline-block;
}

.banner {
	background-color: #d7e3f4;
	border-color: #87aade;
	border-style: solid;
	border-width: 0 0 1px;
	box-sizing: border-box;
	display: none;
	font-size: 90%;
	line-height: 1.4em;
	padding: .5em 2em;
	position: relative;
	text-align: center;
	width: 100%;
}

.banner .hidelink {
	align-items: center;
	display: flex;
	font-weight: bold;
	height: 100%;
	padding: 0 1em;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}

.toggle-container .toggler {
	cursor: pointer;
}

.toggle-container .toggle-icon {
	font-weight: normal;
	margin-right: .3em;
}

.toggle-container .togglee {
	display: none;
}

.toggle-container .toggle-visible {
	display: block;
}

.browser-item {
	cursor: pointer;
	font-weight: normal;
	padding-left: 1em;
	text-indent: -1em;
}

.browser-item.active {
	font-style: italic;
}

.browser-item.directory {
	cursor: default;
}

.browser-item.directory .browser {
	background-color: rgba(0, 0, 0, 0.05);
	padding-left: 1em;
}

#sidebar {
	box-sizing: border-box;
	float: left;
	height: 100%;
	overflow: auto;
	padding: 1em;
	width: 15em;
}

#sidebar h3 {
	margin-top: .2em;
}

#sidebar a, #sidebar h3 {
	padding-left: .5em;
}

#sidebar > p:last-child, #viewer > p:last-child {
	margin-top: 8em;
}

#viewer {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}

#viewer #loading {
	font-style: italic;
	padding-top: 8em;
	text-align: center;
}

@media (max-width: 800px) {
	body {
		overflow: auto;
	}

	body.framelike {
		overflow: auto;
	}

	#sidebar {
		height: auto;
		width: 100%;
		float: none;
		overflow: initial;
	}

	#viewer {
		height: auto;
		clear: both;
		margin-left: 0;
		overflow: initial;
	}
}
